/* Style the form */
#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40p;
  margin-left: 300px;
  width: 50%;
  min-width: 300px;
  color:#8f9121;
  background-color:#f7ede3;
}

/* Style the input fields */


input{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
  background-color:#f7ede3;
  outline: none;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none; 
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}


.btn {
  margin: 20px 20px auto;
  border: none;
  padding: 10px 44px;
  font-size: 15px;
  position: relative;
}
.btn::before {
  -webkit-transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: '';
  width: 50%;
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
}

.btn.rounded {
  border-radius: 50px;
  
}
.btn.rounded .text-green {
  color: #8f9121;
  mix-blend-mode: difference;
}
.btn.rounded::before {
  border-radius: 50px;
  width: 25%;
  background: #8f9121;
}
.btn.rounded:hover::before {
  background: #8f9121;
  width: 100%;
}
#frame {
  display: flex;
  flex-flow: row no-wrap;
} 
#frame input {
  visibility:hidden;
}
#frame .block {
    display: block;
    width: 10%;
	padding:20px;
    border-radius: 50%;
    background-color: transparent;
    color: black;
    cursor: pointer;
    border:3px solid #8f9121;
     outline:none;
}
#frame .block:before {
    display: block;
    width: 10%;
    border-radius: 50%;
	padding:20px;
    background-color: transparent;
    color: black;
    cursor: pointer;
    border:3px solid #8f9121;
    outline:none;
}
#frame input:checked + .block, #frame .block:hover {
  background-color: #8f9121;
}
#frame .block:active {
  background-color: #8f9121;
}


